# Database Connection (Target PostgreSQL Server)
DATABASE_URL="postgresql://postgres:Cilego2026.@10.8.140.69:5432/tor_db?schema=public"

# Auth & Security
JWT_SECRET="ini-rahasia-yang-agak-panjang-dikit"

# External API Keys
NEXT_PUBLIC_TINYMCE_API_KEY="ffkk71r09jwdb56vpn73og6apiid5u69g6xgjnbhd9ig9p4p"

# SMTP Email Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="sispltguclg@gmail.com"
SMTP_PASS="qnol jzfw nnky rrov"

# Application URL (Ganti IP dengan IP Server Ubuntu anda)
NEXT_PUBLIC_APP_URL="http://10.8.140.67:3120"
